section.topnews-videonews.container 
    .topnews 
        .aside-nav 
            button ထိပ်တန်းသတင်း
            button More +

        - const topNewsItems = [{"image":"p1.jpg","title":"ရွှေတိဂုံဘုရား"},{"image":"p2.jpg","title":"အောက်ဆီဂျင်ထုတ်ဖော်ပုံ"},{"image":"p3.jpg","title":"ဘယ်နေရာမှန်းမသိတဲ့ပုံ"},{"image":"p4.jpg","title":"ပုဂံဘုရား"}]

        .topnewsarticle 
            each nws in topNewsItems 
                figure 
                    +image(nws.image,nws.title)
                    figcaption= nws.title

    .videonews 
        .aside-nav 
            button ရုပ်သံ
            button More +
        .aside-body 
            video(controls) 
                source(src="./assets/videos/video.mp4")