@import url("https://fonts.googleapis.com/css2?family=Halant:wght@400;600&family=Lato&family=Raleway:wght@300;400&family=Roboto:wght@300&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.aside-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #146C94;
}
.aside-nav button {
  border: none;
  background-color: #d0d01e;
  color: #fff;
  cursor: pointer;
  padding: 4px 12px;
}

.aside-img-link {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.aside-img-link a {
  font-size: 0.9rem;
  text-align: justify;
  text-indent: 20px;
  line-height: 20px;
  color: #19A7CE;
}
.aside-img-link a:hover {
  text-decoration: underline;
}

.tatin-bar {
  background-color: #146C94;
  margin-bottom: 20px;
}
.tatin-bar > h3 {
  padding: 10px 12px;
  color: #fff;
  background-color: #d0d01e;
  display: inline-block;
  font-weight: bold;
}

.side-nav-check, .inner-menu-check {
  display: none;
}

.inner-dropdown {
  visibility: hidden;
}

.mobile-nav {
  background-color: #146C94;
  color: #d0d01e;
  display: none;
  align-items: center;
  position: relative;
  height: 50px;
}
@media screen and (max-width: 768px) {
  .mobile-nav {
    display: flex;
  }
}
.mobile-nav img {
  margin: 0 20px;
}
.mobile-nav h3 {
  flex: 1;
  text-transform: uppercase;
  font-size: 20px;
}
.mobile-nav i {
  margin-right: 20px;
  font-size: 18px;
}

.side-nav-check:checked + .side-nav-wrapper {
  transform: scale(1, 1);
}

.side-nav-wrapper {
  background-color: #146C94;
  position: absolute;
  right: 0;
  top: 50px;
  min-width: 250px;
  transform: scale(1, 0);
  transform-origin: top;
  transition: 300ms;
}

.dropdown-menu li {
  line-height: 50px;
  border-bottom: 1px solid #a8c5e0;
  cursor: pointer;
}
.dropdown-menu li a {
  color: #fff;
  padding-left: 36px;
  transition: 300ms;
}
.dropdown-menu li:hover {
  background-color: #19A7CE;
}
.dropdown-menu li:hover > a {
  color: #d0d01e;
  padding-left: 45px;
}

.inner-menu-check:checked + .inner-dropdown {
  visibility: visible;
  transform: scale(1, 1);
}

.inner-dropdown {
  position: absolute;
  min-width: 250px;
  background-color: #146C94;
  transform: scale(1, 0);
  transform-origin: top;
  transition: 300ms;
}

.header {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr;
}
.header > div > img {
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 978px) {
  .header > div > img {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .header {
    grid-template-columns: 1fr 1fr;
  }
  .header > div:first-child {
    display: none;
  }
}
@media screen and (max-width: 426px) {
  .header {
    grid-template-columns: 1fr;
  }
}

.nav-radio-group {
  display: none;
}

nav {
  background-color: #146C94;
  display: flex;
  height: 65px;
  align-items: center;
}
@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
}
nav a, nav label {
  color: #fff;
  cursor: pointer;
}
nav .fa-sort-down {
  margin-left: 5px;
  transition: 100ms;
}
nav .sort-up {
  transform: rotate(-180deg);
  position: relative;
  top: 5px;
}
nav > ul {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
nav > ul > li {
  cursor: pointer;
  padding: 20px;
  margin-top: 15px;
  position: relative;
}
nav > ul > li input:checked + a::after {
  transform: scale(1, 1);
}
nav > ul > li > a {
  cursor: pointer;
}
nav > ul > li > a label {
  cursor: pointer;
  padding: 10px;
}
nav > ul > li > a:after {
  content: "";
  background-color: #d0d01e;
  display: block;
  height: 5px;
  margin-top: 10px;
  border-radius: 20px;
  transform: scale(0, 1);
  transition: 100ms;
}

.nav-dropdown-check {
  display: none;
}

.nav-dropdown-check:checked + .nav-dropdown {
  transform: scale(1, 1);
}

.nav-dropdown {
  background-color: #146C94;
  position: absolute;
  top: 60px;
  right: 0;
  min-width: 250px;
  transform: scale(1, 0);
  transform-origin: top;
  transition: 300ms;
  z-index: 100;
}
.nav-dropdown li {
  line-height: 50px;
  padding-left: 36px;
  border-bottom: 1px solid #a8c5e0;
  cursor: pointer;
  transition: padding 200ms;
}
.nav-dropdown li:hover {
  background-color: #19A7CE;
  padding-left: 45px;
}
.nav-dropdown li:hover a {
  color: #d0d01e;
}

.update-news {
  background-color: #19A7CE;
  display: flex;
  height: 65px;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .update-news {
    display: none;
  }
}
.update-news > button {
  margin-left: 20px;
  color: #d0d01e;
  background-color: #146C94;
  border: none;
  width: 150px;
  padding: 10px 15px;
}
.update-news p {
  flex: 1;
  color: #fff;
  line-height: 26px;
}
.update-news input {
  outline: none;
  border: none;
  padding: 8px 15px;
}
.update-news form {
  position: relative;
  margin-right: 20px;
}
.update-news form button {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  padding: 5px;
  background-color: #fff;
  color: #146C94;
}

.detailnews {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  margin-top: 20px;
}
@media screen and (max-width: 426px) {
  .detailnews {
    grid-template-columns: 1fr;
  }
}
.detailnews img {
  width: 100%;
}
.detailnews .detail .tatin-bar > h3 {
  background-color: transparent;
  text-align: center;
  display: block;
}
.detailnews .detail-slogan {
  padding: 12px 12px 0;
  background-color: #146C94;
}
.detailnews .detail-slogan .subtitle {
  color: #fff;
  display: flex;
  align-items: center;
  position: relative;
  padding: 22px 0;
}
.detailnews .detail-slogan .subtitle > * {
  position: absolute;
  z-index: 3;
}
.detailnews .detail-slogan .subtitle .fa-camera {
  font-size: 30px;
  background-color: #146C94;
  padding-right: 5px;
}
.detailnews .detail-slogan .subtitle .block-dash {
  line-height: 2px;
  z-index: 2;
  top: 20px;
  overflow: hidden;
}
.detailnews .detail-slogan .subtitle .title {
  right: 0;
  background-color: #146C94;
  padding-left: 5px;
}

.detail-article-title p {
  margin: 10px 0;
  font-size: 14px;
}

.detail-article-content p {
  font-size: 14px;
  text-align: justify;
  text-indent: 30px;
  line-height: 24px;
  margin-bottom: 10px;
}

.detail-article-footer p > * {
  font-size: 14px;
}
.detail-article-footer p span, .detail-article-footer p i {
  padding-right: 10px;
}

.comment-box form {
  margin: 20px 0;
}
.comment-box form > * {
  color: #fff;
  font-size: 1.1rem;
}
.comment-box form > *:focus {
  outline: none;
}
.comment-box form input {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  border: none;
  background-color: #19A7CE;
  width: 300px;
}
.comment-box form textarea {
  min-height: 200px;
  width: 60%;
  background-color: #19A7CE;
}
.comment-box form button {
  display: block;
  background-color: #d0d01e;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

footer {
  background-color: #146C94;
  margin-top: 20px;
}
footer .footer-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 20px 0;
}
@media screen and (max-width: 426px) {
  footer .footer-inner {
    grid-template-columns: repeat(2, 1fr);
  }
}
footer .footer-inner ul {
  padding: 20px;
  color: #fff;
}
footer .footer-inner ul > h3 {
  font-size: 1.5rem;
  padding: 10px 0;
}
footer .footer-inner ul > li {
  line-height: 26px;
  font-size: 1rem;
}
footer .footer-inner ul > li > a {
  color: #a8c5e0;
}
footer .footer-inner ul > li > a:hover {
  color: #d0d01e;
}
footer .footer-inner form {
  position: relative;
  width: 100%;
}
@media screen and (max-width: 426px) {
  footer .footer-inner form {
    width: 80%;
    grid-column: 1/3;
    margin: 0 auto;
  }
}
footer .footer-inner form legend {
  font-size: 1.5rem;
  color: #fff;
  padding: 10px 0;
}
footer .footer-inner form input {
  display: block;
  outline: none;
  border: none;
  padding: 8px 12px;
  margin-bottom: 10px;
  border-radius: 4px;
  width: 100%;
}
footer .footer-inner form button {
  position: absolute;
  right: 0;
  padding: 8px 15px;
  background-color: #d0d01e;
  color: #fff;
  font-family: Raleway;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.dev {
  background-color: #146C94;
}
.dev p {
  text-align: center;
  padding: 20px 0;
  box-shadow: 0 1px 0 #a8c5e0 inset;
  margin-top: 20px;
  color: #a8c5e0;
  font-size: 1rem;
}

/*# sourceMappingURL=detail.css.map */
