include partials/_variables
include partials/_mixins
include partials/_top
    include partials/_mobile_nav
    include partials/_header
    include partials/_nav

    include index/_slide
    include index/_topnews
    include index/_mknnews
    include index/_innernews
    include index/_interview

    include partials/_footer
    include partials/_base