header 
    .header.container 
        - const headerContent = ['bm.png','banner1.jpg','banner2.jpg']
            each hder,i in headerContent 
                div 
                    +image(hder,hder)