- const currentPage = "detail";
- const sampleTitle = "Brighter Myanmar သင်တန်းခွဲများဖွင့်လှစ်ခြင်း";
- const samplePara = "Myanmar ကွန်ပျူတာ ပညာရှင်များ အဖွဲ့မှ ကြီးမှူး၍ ၂၃ ကြိမ်မြောက် Programming သင်တန်းခွဲအား မြန်မာနိုင်ငံ ပညာလိုလားသူ လူကြီးလူငယ်များ Programming ဘာသာရပ် အဆင့်မြင့်မားစေရန် ရည်ရွယ်၍ ကွန်ပျူတာ ပညာရှင်များ အဖွဲ့မှ ကြီးမှူး၍ ၂၃ ကြိမ်မြောက် Programming သင်တန်းခွဲအား မြန်မာနိုင်ငံ ပညာလိုလားသူ လူကြီးလူငယ်များ Programming ဘာသာရပ် အဆင့်မြင့်မားစေရန် ရည်ရွယ်၍ ကွန်ပျူတာ ပညာရှင်များ အဖွဲ့မှ ကြီးမှူး၍ ၂၃ ကြိမ်မြောက်";
- const sampleParaShort = "Brighter Myanmar ကွန်ပျူတာ ပညာရှင်များ အဖွဲ့မှ ကြီးမှူး၍ ၂၃ ကြိမ်မြောက် Programming သင်တန်းခွဲအား";
- const innerItems = ["အားကစား","ရွှေ - ငွေ စျေး","နည်းပညာ","အယ်ဒီတာ့ အာဘော်","ဆက်သွယ်ရန်"];